@media(max-width:779px)

{
    
    
}

@media(min-width:780px)
{

}

@media(min-width:1024px)
{ 
    .side{
        color: rgb(255, 250, 250);
        width: 10%; 
        height:100%;
        margin-top: 60px;
        padding-left: 10px;
        text-overflow: inherit;
        float: right;
        list-style: none;
        font-size: px;
        background-color: rgb(0, 0, 0);
        grid-area: aside;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 4;
        grid-template-areas:
        
        "login"
        "sear"  
          "car"
          "total" ;
        position: fixed;
    z-index: 999;
    right: 0px;
         
         li{
            list-style: none;
            margin-left: 3px;
            grid-area: login;
        }
        .carro {
            grid-area: car;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
          .erase {
            grid-area: button;
          }
        
          .search {
            grid-area: sear;
            display: flex;
        
            justify-content: space-evenly;
            .lupa{
                height: 20px;
              
            }
          }

    }
}


    @media(min-width:1200px)
    {
        .side{
    color: rgb(255, 250, 250);
    width: 10%; 
    height:100%;
    margin-top: 60px;
    padding-left: 0px;
    padding-top: 7px;
   
    float: right;
    list-style: none;
    background-color: rgb(0, 0, 0);
    grid-area: aside;
    display: block;

    position: fixed;
    z-index: 999;
    right: 0px;
    li{
        list-style: none;
        margin-left: 3px;
    }
     }
    }


    .shortSide{
        height: 441px;
        color: rgb(255, 250, 250);
    width: 10%; 
    margin-top: 60px;
    padding-left: 0px;
    padding-top: 7px;
   
    float: right;
    list-style: none;
    background-color: rgb(0, 0, 0);
    grid-area: aside;
    display: block;

    position: fixed;
    z-index: 999;
    right: 0px;
    li{
        list-style: none;
        margin-left: 3px;
    }
    }

    .shortSideB{
        height: 790px;
        color: rgb(255, 250, 250);
    width: 10%; 
    margin-top: 60px;
    padding-left: 0px;
    padding-top: 7px;
   
    float: right;
    list-style: none;
    background-color: rgb(0, 0, 0);
    grid-area: aside;
    display: block;

    position: fixed;
    z-index: 999;
    right: 0px;
    li{
        list-style: none;
        margin-left: 3px;
    }
    }