@media(min-width:1024px)
{

    .home{  
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 4;
        grid-template-areas: "nav nav nav nav"
                            "content content content aside"
                            "cont2 cont2 cont2 aside"
                            "footer footer footer footer";
    }

    /*Podcast*/
    .sonidoBoom
    {
        display: grid;
        grid-area: content;
        width: 30%;
        height: 30px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 3 ;
        grid-template-areas: "title title "
                            "subtitle subtitle"
                            "desc desc"
                             ;
    }

.titSonido{
    display: grid;
    color: black;
    background-color: rgb(255, 255, 255);
    grid-area: title;
    margin: 10px;

}

.subsonido{
    display: grid;
    color: black;
    background-color: rgb(255, 255, 255);
    grid-area: subtitle;
    margin: 10px;
}
.parraf
{
    display: grid;
    color: black;
    background-color: rgb(160, 35, 35);
    grid-area: desc;
    margin: 10px;
}
.contPlayer
{   
    display: grid;
    flex-direction: column;
    width: 300px;
    margin-top: 40px;
  
    grid-area: cont2;
    grid-template-columns: repeat(2,3fr);
    grid-template-rows: 4 ;
    grid-template-areas: "img tit"
                        "img subti"
                        "img desc"
                        "btn btn";
                    }

    
    .playerImg
    {
      grid-area: img;
      display: grid;

    }
    .titulo
    {
        grid-area: tit;
        display: grid;
        margin: 15px;
        padding: 10px;
    }
    .episode
    {
        grid-area: subti;
        display: grid;
        margin: 5px;
        padding: 10px;
        font-weight: 400;
        }
    .descript
    {
        grid-area: desc;
        display: grid;
        margin: 2px;
        padding: 10px;
        font-weight: 300;
        font-style: italic;
    }
       .pIImg
    {

        width: 300px;
        
    }
    .mediaPlay
    {display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 250%;
        margin-top: 5px;
    
    }

    .pImg
    {
        width: 30px ;
      
   }

    
/*SASS this*/

.reP1
{
    width: 2fr;
    grid-area: footer ;
}
.reP2
{
width: 1fr;
grid-area: footer ;

}
.reP3
{
    width: 3fr;
    grid-area: footer ;

}






/*Store */
.storeBox{
    margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
}
.productA{
      

    margin: 40px;
    grid-area: content;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    text-align:  center;



}

.productB{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 30%;
text-align:  center;


}

.productC{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 30%;
text-align:  center;
}

    .burguer 
    {
    
     display: none ;
    }
    

    body h2{
        text-align: center;
        }
    
    h5{
        background-color: black;
        color: rgb(255, 255, 255);
    }
    
    nav{
        background-color: rgb(0, 0, 0);
        
       color: aliceblue;
        text-align: center;
        grid-area: nav;
        position: fixed;
        border: 10;
        font-size: 25px;
        margin-bottom: 15px;
        width: 100%; 
    }
    
    a{
        color: rgb(255, 255, 255);
        font-size: 30px;
    }

.logo{
    width: 25px;
     position: absolute;
     top: 7px;
     left: 10px;
    }

.twitch {
    position:absolute;
    
    width:25px;
    right: 10px;
    top:7px
}

.twitter{
    position:absolute;
    width: 25px;
    right: 35px;
    top: 7px;

}

.insta{
    position:absolute;
    width:25px;
    right: 60px;
    top:7px
}
.youtube{
    position:absolute;
    width:25px;
    right: 85px;
    top:7px

}
    
    footer{
        width: 100%; 
        grid-area: footer;
        margin-top: 25px;
    }
    
    aside{
        color: rgb(255, 250, 250);
        width: 100%; 
        height:100%;
        margin: 37px;
        padding-left: 10px;
       text-overflow: inherit;
        float: right;
        list-style: none;
        font-size: px;
        background-color: rgb(0, 0, 0);
        grid-area: aside;
        display: block;
         }


         
    
     body div {
        background-color: rgb(255, 255, 255);
        width: 89%;
        
    }
    
    
    div .descript{
        margin: 15px;
        padding: 10px;
    }
    
    
    .sonidoBoom{
       
       grid-area:content;
       width: 100%;
       margin-top: 15px;
       
       
    }
    
    .contBox {
    margin: 36px;
    grid-area: content;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    
    
    .mini{
        width: 30%;
        font-size:initial ;
       
    
    
    }
    .mini__tit {
        text-align: center;
        font-size: 100%;
        background-color: rgba(0, 255, 255, 0.055);
        height:fit-content;
    }
    .mini__img {
        width: 100%;
        height: 60%
    
    }
    
    .mini div{
        width: 30%;
        
    }
    
    .retro{
        width: 30%;
    
    }
    
    .retro__tit {
        text-align:center;
        font: size 100%;
        
        height:fit-content;
    
        background-color: rgba(0, 255, 255, 0.055);
    }
    
    .retro__img {
        width: 100%;
        height: 60%
    }
    
    .perfect{
        width: 30%;
        
    }
    
    .perfect__tit {
        text-align: center;
        font-size: 18px;
        background-color: rgba(0, 255, 255, 0.055);
        height:fit-content;
    }
        
    
    .perfect__img {
        width: 100%;
        height: 60%
    }
    

}