
@media(max-width:779px)
{



body{
    background-color: rgb(255, 255, 255);
    }

.home{  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 4;
    grid-template-areas: "nav nav nav nav"
                        "content content content content"
                        "cont2 cont2 cont2 aside"
                        "footer footer footer footer";
}


.sonidoBoom
{
    display: grid;
    grid-area: content;
    width: 30%;
    height: 30px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 3 ;
    grid-template-areas: "title title "
                        "subtitle subtitle"
                        "desc desc"
                         ;
}

.titSonido{
display: grid;
color: black;
background-color: rgb(255, 255, 255);
grid-area: title;
margin: 10px;

}

.subsonido{
display: grid;
color: black;
background-color: rgb(255, 255, 255);
grid-area: subtitle;
margin: 10px;
}
.parraf
{
display: grid;
color: black;
background-color: rgb(160, 35, 35);
grid-area: desc;
margin: 10px;
}
.contPlayer
{   
display: grid;
flex-direction: column;
width: 100%;
margin-top: 20px;

grid-area: cont2;
grid-template-columns: repeat(2,3fr);
grid-template-rows: 4 ;
grid-template-areas: "img tit"
                    "img subti"
                    "img desc"
                    "btn btn";
                }


.playerImg
{
  grid-area: img;
  display: grid;

}
.titulo
{
    width: 250px;
    
    grid-area: tit;
    display: grid;
    margin: 15px;
    padding: 10px;
}
.episode
{
    width: 250px;
    grid-area: subti;
    display: grid;
    margin: 5px;
    padding: 10px;
    font-weight: 400;
    }
.descript
{
    width: 250px;
    grid-area: desc;
    width: auto;
    display: grid;
    margin: 2px;
    padding: 10px;
    font-weight: 300;
    font-style: italic;
}
   .pIImg
{

    width: 100%;
    
}
.mediaPlay
{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 350%;
    margin-top: 5px;

}

.pImg
{
    width: 30px ;
  
}


/* SASS ThIS */
/*Blog*/
.contBoxBlog{
    grid-area: content;
    width: 100%;
    display: grid;
    margin:30px;

    grid-template-columns: repeat(2,3fr);
    grid-template-rows: 3 ;
    grid-template-areas: "entry1 entry1"
                            "entry2 entry2"                                
                            "entry3 entry3"
                            ;
}   



.valfBox
{
    grid-area:entry1 ;
    
}
   
.blogMini{
    grid-area: entry2;
    margin-top: 10px;
    background-color: rgba(66, 66, 66, 0.089);
}

.miniImg{
    width: 100%;
}


 /*SASS this*/

 .contBox2 {
    margin: 30px;
    grid-area: content;
    display: grid;
    
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: 5 ;
    grid-template-areas:"h4 h4" 
                        "p1 portada"
                        "p2 p2"
                        "roca ai"
                        "p3 p3"
                        ;
        
        
    } 

   

    Div h4
    {
 grid-area: h4;
 text-align: center;
 font-size:xx-large;
 font-weight: bolder;
    }

.re1
{

 grid-area: p1;
 padding: 25px;


}
.re2
{
grid-area: p2;
width: 2fr;
text-align: center;


}
.re3
{
width: 3fr;
grid-area: p3;
text-align: center;

}

.portada
{
    grid-area: portada;
    width: 1fr;
    padding-left: 100px;
}

.rock{
    grid-area: roca;
    margin-top: 20px;
}

.ai{
    grid-area: ai;
    margin-top: 20px;
}


/* ValdarisCont 3*/
 .contBox3 {
        margin: 35px;
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: 10 ;
        grid-template-areas:"h4 h4" 
                            "p1 p1"
                            "p2 p2"
                            "p3 p3"
                            "p4 p4"
                            "p5 p5"
                            "p6 p6"
                            "p7 p7"
                            "p8 p8"
                            "p9 p9"
                            " p10 p10"
                            ;
            
            
        } 
    
        
        .val1
        {
            grid-area: p1;
            margin-top: 10px;
            font-size:larger;
        }
        .val2
        {
            grid-area: p3;
            margin: 10px;
            text-align: center;

        }
        .val3
        {
            grid-area: p4;
            text-align: right;
            font-size: large;
            margin-left: 10px;
        }

        
        .val4
        {
            grid-area: p6;
            margin: 10px;
            text-align: center;

        }
        .val5
        {
            grid-area: p8;
            margin: 10px;

            text-align: center;

        }
        .val6
        {
            grid-area: p10;
            margin: 10px;

            text-align: center;

        }

        .valPortada
        {
            grid-area: p2;
            width: 50%;
        
        }

        .valPortada img {
            width: 200%;
        }

        .weapons
        {
            grid-area: p5;
            margin-left:  15px;
        }
        
        .headBang
        {
            grid-area: p7;
           
        }

        .headBang img
        {
            width: 105%;
        }
        .enemy
        {
            grid-area: p9;
        }
        .enemy img 
        {
        margin-left: 100px ;        
        }



nav{
    background-color: rgb(0, 0, 0);
        
        
       color: aliceblue;
       text-align: center;
       grid-area: nav;
       position: fixed;
       border: 10;
       margin-bottom: 5px;
       z-index: 9000;
       width: 100%; 
       font-size:medium;
  
    }

form
{
grid-area: content;
width:1fr;
margin-left: 20px;
margin-top: 13px;
}

form textarea
{
    width: 478px;
}

    a{
        color: rgb(255, 255, 255);
        font-size: 10px;
    }

.logo{
    width: 14px;
     position: absolute;
     top: 3px;
     left: 5px;
    }

.twitch {
    position:absolute;
    
    width:14px;
    right: 10px;
    top:3px
}

.twitter{
    position:absolute;
    width: 14px;
    right: 25px;
    top: 3px;

}

.insta{
    position:absolute;
    width:14px;
    right: 40px;
    top:3px
}
.youtube{
    position:absolute;
    width:14px;
    right: 55px;
    top:3px

}

footer{
    background-color: black;
    grid-area: footer;
    color: aliceblue;
    width: 200%;
}


/* Store*/

/*Store */
.storeBox{
    margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        
}
.productA{
      

    margin: 40px;
    grid-area: content;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align:  center;



}

.productB{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 100%;
text-align:  center;


}

.productC{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 100%;
text-align:  center;
}
/*Content*/

.contBox
{
    
        margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        
  }

.retro__img{
    width: 100%;
}

.retro__tit{
    margin-top: 13px;

}

.mini__img{
width: 100%;}


.mini__tit{
    margin-top: 13px;
}
.perfect__img
{
    width: 100%;
}

.perfect__tit{
    margin-top: 13px;
}

.valfaris
{
    
width: 100%;

}

.valfaris__text
{
    width: 100%;
}




/*Burger menu */

.burguer 
   {
    margin-top:  45px;
    
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 9000;
    cursor: pointer;
    position: fixed;
    grid-area: content;

    
   }
   
   
.burguer span 
    {
    display: block;
    width: 100%;
    background:rgb(54, 147, 177);
    height: 10px;
    margin-top: 3px;
    transform-origin: 0px 100%;
    transition: all 200ms;
    grid-area: content;
    }


.activeline1 {
transform:rotate(45deg)
translate(0px, -6px);
}
.activeline2{
opacity:0;
margin-left: -30px;
}
.activeline3{
    Transform: rotate(-45deg)
    translate(6px, 8px);
}




 .logins {
    
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    font-size: 30px;    
    justify-content: space-evenly;
    position: fixed;
    list-style: none;
    z-index: 9000;
    top: 55px;
    right: 43px;
    display: block;

    
         }

.social a {
    flex-direction: column;
    width: 10px;
    background-color: rgb(245, 240, 240);
    font-size: 35px;    
   float: right;
}

aside{
    display: none;
}

.sidekick
{
background-color: rgb(0, 0, 0);
color: aliceblue;
margin-top: 10px;
display: block;
}
}