
@media(min-width:1200px)

{
    .home{  
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 4 ;
        grid-template-areas: "nav nav nav nav"
                            "content content content aside"
                            "footer footer footer footer";
    }

 
    body h1{
        margin-top: 1000px;

    }

/*Blog*/
.contBoxBlog{
    @extend .contBox;


@include grid(repeat(2,3fr),3,"entry1 entry1""entry2 entry2""entry3 entry3");
   
}   



.valfBox
{
    grid-area:entry1 ;
    
}
   
.blogMini{
    grid-area: entry2;
    margin-top: 10px;
    background-color: rgba(66, 66, 66, 0.089);
}

.miniImg{
    width: 100%;
}


 /*SASS this*/

 .contBox2 {
    @extend .contBox;
    
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: 5 ;
    grid-template-areas:"h4 h4" 
                        "p1 portada"
                        "p2 p2"
                        "roca ai"
                        "p3 p3"
                        ;
        
        
    } 

   

    Div h4
    {
 grid-area: h4;
 text-align: center;
 font-size:xx-large;
 font-weight: bolder;
    }

.re1
{

 grid-area: p1;
 padding: 25px;


}
.re2
{
grid-area: p2;
width: 2fr;
text-align: center;


}
.re3
{
width: 3fr;
grid-area: p3;
text-align: center;

}

.portada
{
    grid-area: portada;
    width: 1fr;
    padding-left: 100px;
}

.rock{
    grid-area: roca;
    margin-top: 20px;
}

.ai{
    grid-area: ai;
    margin-top: 20px;
}


/* ValdarisCont 3*/
 .contBox3 {
        @extend .contBox;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: 10 ;
        grid-template-areas:"h4 h4" 
                            "p1 p1"
                            "p2 p2"
                            "p3 p3"
                            "p4 p4b"
                            "p5 p5"
                            "p6 p6"
                            "p7 p7"
                            "p8 p8"
                            "p9 p9"
                            ;
            
            
        } 
    
        
        .val1
        {
            grid-area: p1;
            margin-top: 10px;
            font-size:larger;
        }
        .val2
        {
            grid-area: p3;
            margin: 10px;
            text-align: center;

        }
        .val3
        {
            grid-area: p4b;
            text-align: right;
            font-size: large;
            margin-left: 10px;
        }

        
        .val4
        {
            grid-area: p5;
            margin: 10px;
            text-align: center;

        }
        .val5
        {
            grid-area: p7;
            margin: 10px;

            text-align: center;

        }
        .val6
        {
            grid-area: p9;
            margin: 10px;

            text-align: center;

        }

        .valPortada
        {
            grid-area: p2;
            width: 50%;
        
        }

        .valPortada img {
            width: 200%;
        }

        .weapons
        {
            grid-area: p4;
        }
        
        .headBang
        {
            grid-area: p6;
           
        }

        .headBang img
        {
            width: 105%;
        }
        .enemy
        {
            grid-area: p8;
        }
        .enemy img 
        {
        margin-left:200px ;        
        }

/*Store */
.storeBox{
    margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
}
.productA{
      

    margin: map-get($product, margin );
    grid-area:map-get($product , grid-area );
    display: map-get($product , display );
    flex-direction:map-get($product , flex-direction );
    justify-content:map-get($product , justify-content );
    width: map-get($product , width );
    text-align:  map-get($product , text-align );



}

.productB{
  

    margin: map-get($product, margin );
    grid-area:map-get($product , grid-area );
    display: map-get($product , grid-area );
    flex-direction:map-get($product , flex-direction );
    justify-content:map-get($product , justify-content );
    width: map-get($product , width );
    text-align:  map-get($product , text-align );

}

.productC{
  

    margin: map-get($product, margin );
    grid-area:map-get($product , grid-area );
    display: map-get($product , grid-area );
    flex-direction:map-get($product , flex-direction );
    justify-content:map-get($product , justify-content );
    width: map-get($product , width );
    text-align:  map-get($product , text-align );

}   
    
    .burguer 
    {
         display: none ;
    }
    
    body h2{
        text-align: center;
        }
    
    h5{
        background-color: black;
        color: rgb(255, 255, 255);
    }
    
    nav{
        background-color: rgb(0, 0, 0);
        
       color: aliceblue;
        text-align: center;
        grid-area: nav;
        position: fixed;
        border: 10;
        margin-bottom: 15px;
        width: 100%; 
    }
    
    a{
        color: rgb(255, 255, 255);
        font-size: 30px;
    }

.logo{
    width: 25px;
     position: absolute;
     top: 7px;
     left: 10px;
    }

.twitch {
    position:absolute;
    
    width:25px;
    right: 10px;
    top:7px
}

.twitter{
    position:absolute;
    width: 25px;
    right: 35px;
    top: 7px;

}

.insta{
    position:absolute;
    width:25px;
    right: 60px;
    top:7px
}
.youtube{
    position:absolute;
    width:25px;
    right: 85px;
    top:7px

}
    
    footer{
        width: 100%; 
        grid-area: footer;
        margin-top: 25px;
        margin-right: 0px;
    }
    
    .side{
        color: rgb(255, 250, 250);
        width: 100%; 
        height:100%;
        margin-top: 0px;
        padding-left: 10px;
        padding-top: 37px;
       text-overflow: inherit;
        float: right;
        list-style: none;
        
        background-color: rgb(0, 0, 0);
        grid-area: aside;
        display: block;
         }



        
    
    
     body div {
        background-color: rgb(255, 255, 255);
        width: 89%;
        
    }
    
    
    div .descript{
        margin: 15px;
        padding: 10px;
    }
    
    
    .sonidoBoom{
       
       grid-area:content;
       width: 100%;
       margin-top: 15px;
       
       
    }
    
    .contBox {
        margin: 30px;
        grid-area: content;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    
    
    .mini{
        width: 30%;
        font-size:initial ;
       
    
    
    }
    .mini__tit {
        text-align: center;
        font-size: 100%;
        background-color: rgba(0, 255, 255, 0.055);
        height:fit-content;
    }
    .mini__img {
        width: 100%;
        height: 60%
    
    }
    
    .mini div{
        width: 30%;
        
    }
    
    .retro{
        width: 30%;
    
    }
    
    .retro__tit {
        text-align:center;
        font: size 100%;
        
        height:fit-content;
    
        background-color: rgba(0, 255, 255, 0.055);
    }
    
    .retro__img {
        width: 100%;
        height: 60%
    }
    
    .perfect{
        width: 30%;
        
    }
    
    .perfect__tit {
        text-align: center;
        font-size: 18px;
        background-color: rgba(0, 255, 255, 0.055);
        height:fit-content;
    }
        
    
    .perfect__img {
        width: 100%;
        height: 60%
    }
    
    

}