
@media(max-width:779px)
{



body{
    background-color: rgb(255, 255, 255);
}
        .home{  
            display: grid;
            
            background-color: rgb(255, 255, 255);
            grid-template-columns: repeat(4,30% 30% 30% 10%);
            grid-template-rows: 6 ;
            grid-template-areas: "nav nav nav nav"
                                "content content content aside"
                                "cont2 cont2 cont2 aside"
                                "cont3 cont3 cont3 aside"
                                "blank cont4 cont4 aside"
                                "footer footer footer footer";
        }
    


.sonidoBoom
{
    display: grid;
    grid-area: content;
    width: 30%;
    height: 30px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 5 ;
    grid-template-areas: "nav nav nav nav"
                        "content content content aside"
                        "cont2 cont2 cont2 aside"
                        "Pod Pod Pod aside"
                        "footer footer footer footer";
}

.titSonido{
display: grid;
color: black;
background-color: rgb(255, 255, 255);
grid-area: title;
margin: 10px;

}

.subsonido{
display: grid;
color: black;
background-color: rgb(255, 255, 255);
grid-area: subtitle;
margin: 10px;
}
.parraf
{
display: grid;
color: black;
background-color: rgb(160, 35, 35);
grid-area: desc;
margin: 10px;
}
.contPlayer
{   
display: grid;
flex-direction: column;
width: 100%;
margin-top: 20px;

grid-area: cont2;
grid-template-columns: repeat(2,3fr);
grid-template-rows: 4 ;
grid-template-areas: "img tit"
                    "img subti"
                    "img desc"
                    "btn btn";
                }


.playerImg
{
  grid-area: img;
  display: grid;

}
.titulo
{
    width: 250px;
    
    grid-area: tit;
    display: grid;
    margin: 15px;
    padding: 10px;
}
.episode
{
    width: 250px;
    grid-area: subti;
    display: grid;
    margin: 5px;
    padding: 10px;
    font-weight: 400;
    }
.descript
{
    width: 250px;
    grid-area: desc;
    width: auto;
    display: grid;
    margin: 2px;
    padding: 10px;
    font-weight: 300;
    font-style: italic;
}
   .pIImg
{

    width: 100%;
    
}
.mediaPlay
{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 350%;
    margin-top: 5px;

}

.pImg
{
    width: 30px ;
  
}


/* SASS ThIS */
/*Blog*/
.contBoxBlog{
    grid-area: content;
    width: 100%;
    display: grid;
    margin:30px;

    grid-template-columns: repeat(2,3fr);
    grid-template-rows: 3 ;
    grid-template-areas: "entry1 entry1"
                            "entry2 entry2"                                
                            "entry3 entry3"
                            ;
}   



.valfBox
{
    grid-area:entry1 ;
    
}
   
.blogMini{
    grid-area: entry2;
    margin-top: 10px;
    background-color: rgba(66, 66, 66, 0.089);
}

.miniImg{
    width: 100%;
}


 /*SASS this*/

 


/* ValdarisCont 3*/
 .contBox3 {
        margin: 35px;
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: 10 ;
        grid-template-areas:"h4 h4" 
                            "p1 p1"
                            "p2 p2"
                            "p3 p3"
                            "p4 p4"
                            "p5 p5"
                            "p6 p6"
                            "p7 p7"
                            "p8 p8"
                            "p9 p9"
                            " p10 p10"
                            ;
            
            
        } 
    
        
        .val1
        {
            grid-area: p1;
            margin-top: 10px;
            font-size:larger;
        }
        .val2
        {
            grid-area: p3;
            margin: 10px;
            text-align: center;

        }
        .val3
        {
            grid-area: p4;
            text-align: right;
            font-size: large;
            margin-left: 10px;
        }

        
        .val4
        {
            grid-area: p6;
            margin: 10px;
            text-align: center;

        }
        .val5
        {
            grid-area: p8;
            margin: 10px;

            text-align: center;

        }
        .val6
        {
            grid-area: p10;
            margin: 10px;

            text-align: center;

        }

        .valPortada
        {
            grid-area: p2;
            width: 50%;
        
        }

        .valPortada img {
            width: 200%;
        }

        .weapons
        {
            grid-area: p5;
            margin-left:  15px;
        }
        
        .headBang
        {
            grid-area: p7;
           
        }

        .headBang img
        {
            width: 105%;
        }
        .enemy
        {
            grid-area: p9;
        }
        .enemy img 
        {
        margin-left: 100px ;        
        }







/*Content*/

.contBox
{
    
        margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        
  }

.retro__img{
    width: 100%;
}

.retro__tit{
    margin-top: 13px;

}

.mini__img{
width: 100%;}


.mini__tit{
    margin-top: 13px;
}
.perfect__img
{
    width: 100%;
}

.perfect__tit{
    margin-top: 13px;
}

.valfaris
{
    
width: 100%;

}

.valfaris__text
{
    width: 100%;
}


