* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  font-weight: 600; }

.cartAside {
  width: 30px; }
  .cartAside .pCI {
    width: 10px; }

@media (max-width: 779px) {
  .home {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 7;
    grid-template-areas: "nav " "welc " "content" "cont2 " "cont3 " "cont4 " "footer"; } }

@media (min-width: 780px) {
  .home {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 7;
    grid-template-areas: "nav " "welc " "content" "cont2 " "cont3 " "cont4 " "footer"; } }

@media (min-width: 1024px) {
  .home {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(4, 30% 30% 30% 10%);
    grid-template-rows: 7;
    grid-template-areas: "nav nav nav nav" "welc welc welc aside" "content content content aside" "cont2 cont2 cont2 aside" "cont3 cont3 cont3 aside" "cont4 cont4 cont4 aside" "footer footer footer footer"; }
  .cartAside {
    width: 100%; }
    .cartAside .pCI {
      width: 100%;
      top: 100px; } }

@media (min-width: 1200px) {
  .home {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(4, 30% 30% 30% 10%);
    grid-template-rows: 7;
    grid-template-areas: "nav nav nav nav" "welc welc welc aside" "content content content aside" "cont2 cont2 cont2 aside" "cont3 cont3 cont3 aside" "blank cont4 cont4 aside" "footer footer footer footer"; }
  body h1 {
    margin-top: 10px; }
  body h2 {
    text-align: center; }
  body div {
    background-color: rgba(255, 255, 255, 0);
    width: 100%; } }

@media (max-width: 779px) {
  .burguer {
    margin-top: 0px;
    width: 45px;
    height: 45px;
    background-color: black;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 9000;
    cursor: pointer;
    position: fixed;
    grid-area: content; }
  .burguer span {
    display: block;
    width: 100%;
    background: #3693b1;
    height: 10px;
    margin-top: 3px;
    transform-origin: 0px 100%;
    transition: all 200ms; }
  .activeline1 {
    transform: rotate(45deg) translate(0px, -6px); }
  .activeline2 {
    opacity: 0;
    margin-left: -30px; }
  .activeline3 {
    Transform: rotate(-45deg) translate(6px, 8px); }
  .logins {
    flex-direction: column;
    background-color: black;
    font-size: 30px;
    justify-content: space-evenly;
    position: fixed;
    list-style: none;
    z-index: 9000;
    top: 60px;
    right: 0px;
    display: block; }
  .social a {
    flex-direction: column;
    width: 10px;
    background-color: #f5f0f0;
    font-size: 35px;
    float: right; }
  aside {
    display: none; }
  .sidekick {
    background-color: black;
    color: aliceblue;
    top: 30px;
    margin-top: 40px;
    display: block; } }

@media (min-width: 780px) {
  .burguer {
    margin-top: 0px;
    width: 45px;
    height: 45px;
    background-color: black;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 9000;
    cursor: pointer;
    position: fixed;
    grid-area: content; }
  .burguer span {
    display: block;
    width: 100%;
    background: #3693b1;
    height: 10px;
    margin-top: 3px;
    transform-origin: 0px 100%;
    transition: all 200ms;
    grid-area: content; }
  .activeline1 {
    transform: rotate(45deg) translate(0px, -6px); }
  .activeline2 {
    opacity: 0;
    margin-left: -30px; }
  .activeline3 {
    Transform: rotate(-45deg) translate(6px, 8px); }
  .logins {
    flex-direction: column;
    background-color: black;
    font-size: 30px;
    justify-content: space-evenly;
    position: fixed;
    list-style: none;
    z-index: 9000;
    top: 60px;
    right: 0px;
    display: block; }
  .social a {
    flex-direction: column;
    width: 10px;
    background-color: #f5f0f0;
    font-size: 35px;
    float: right; }
  aside {
    display: none; }
  .sidekick {
    background-color: black;
    color: aliceblue;
    top: 30px;
    margin-top: 40px;
    display: block; } }

@media (min-width: 1024px) {
  .burguer {
    display: none; } }

@media (min-width: 1200px) {
  .burguer {
    display: none; } }

@media (max-width: 779px) {
  .contBox {
    margin: 12px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .mini {
    width: 100%;
    font-size: initial; }
  .mini__tit {
    text-align: center;
    font-size: 100%;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .mini__img {
    width: 100%;
    height: 60%; }
  .mini div {
    width: 100%; }
  .retro {
    width: 100%;
    height: 60%; }
  .retro__tit {
    text-align: center;
    font: size 100%;
    height: fit-content;
    background-color: rgba(0, 255, 255, 0.055); }
  .retro__img {
    width: 100%;
    height: 60%; }
  .perfect {
    width: 100%; }
  .perfect__tit {
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .perfect__img {
    width: 100%;
    height: 60%; } }

@media (min-width: 780px) {
  .contBox {
    margin: 12px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .mini {
    width: 100%;
    font-size: initial; }
  .mini__tit {
    text-align: center;
    font-size: 100%;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .mini__img {
    width: 100%;
    height: 60%; }
  .mini div {
    width: 100%; }
  .retro {
    width: 100%; }
  .retro__tit {
    text-align: center;
    font: size 100%;
    height: fit-content;
    background-color: rgba(0, 255, 255, 0.055); }
  .retro__img {
    width: 100%;
    height: 60%; }
  .perfect {
    width: 100%; }
  .perfect__tit {
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .perfect__img {
    width: 100%;
    height: 60%; } }

@media (min-width: 1024px) {
  .contBox {
    margin: 30px;
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .mini {
    width: 30%;
    font-size: initial; }
  .mini__tit {
    text-align: center;
    font-size: 100%;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .mini__img {
    width: 100%;
    height: 60%; }
  .mini div {
    width: 30%; }
  .retro {
    width: 30%; }
  .retro__tit {
    text-align: center;
    font: size 100%;
    height: fit-content;
    background-color: rgba(0, 255, 255, 0.055); }
  .retro__img {
    width: 100%;
    height: 60%; }
  .perfect {
    width: 30%; }
  .perfect__tit {
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .perfect__img {
    width: 100%;
    height: 60%; } }

@media (min-width: 1200px) {
  .contBox {
    margin: 30px;
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .mini {
    width: 30%;
    font-size: initial; }
  .mini__tit {
    text-align: center;
    font-size: 100%;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .mini__img {
    width: 100%;
    height: 60%; }
  .mini div {
    width: 30%; }
  .retro {
    width: 30%; }
  .retro__tit {
    text-align: center;
    font: size 100%;
    height: fit-content;
    background-color: rgba(0, 255, 255, 0.055); }
  .retro__img {
    width: 100%;
    height: 60%; }
  .perfect {
    width: 30%; }
  .perfect__tit {
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .perfect__img {
    width: 100%;
    height: 60%; } }

@media (max-width: 779px) {
  .contBox2 {
    margin: 30px;
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 5;
    grid-template-areas: "h4 h4"  "p1 portada" "p2 p2" "roca ai" "p3 p3"; }
  Div h4 {
    grid-area: h4;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder; }
  .re1 {
    grid-area: p1;
    padding: 25px; }
  .re2 {
    grid-area: p2;
    width: 2fr;
    text-align: center; }
  .re3 {
    width: 3fr;
    grid-area: p3;
    text-align: center; }
  .portada {
    grid-area: portada;
    width: 1fr;
    padding-left: 100px; }
  .rock {
    grid-area: roca;
    margin-top: 20px; }
  .ai {
    grid-area: ai;
    margin-top: 20px; } }

@media (min-width: 780px) {
  .contBox2 {
    margin: 30px;
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 5;
    grid-template-areas: "h4 h4"  "p1 portada" "p2 p2" "roca ai" "p3 p3"; }
  Div h4 {
    grid-area: h4;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder; }
  .re1 {
    grid-area: p1;
    padding: 25px; }
  .re2 {
    grid-area: p2;
    width: 2fr;
    text-align: center; }
  .re3 {
    width: 3fr;
    grid-area: p3;
    text-align: center; }
  .portada {
    grid-area: portada;
    width: 1fr;
    padding-left: 100px; }
  .rock {
    grid-area: roca;
    margin-top: 20px; }
  .ai {
    grid-area: ai;
    margin-top: 20px; } }

@media (min-width: 1024px) {
  .contBox2 {
    margin: 30px;
    grid-area: content;
    display: grid;
    flex-direction: row;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 5;
    grid-template-areas: "h4 h4"  "p1 portada" "p2 p2" "roca ai" "p3 p3"; }
  Div h4 {
    grid-area: h4;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder; }
  .re1 {
    grid-area: p1;
    padding: 25px; }
  .re2 {
    grid-area: p2;
    width: 2fr;
    text-align: center; }
  .re3 {
    width: 3fr;
    grid-area: p3;
    text-align: center; }
  .portada {
    grid-area: portada;
    width: 1fr;
    padding-left: 100px; }
  .rock {
    grid-area: roca;
    margin-top: 20px; }
  .ai {
    grid-area: ai;
    margin-top: 20px; } }

@media (min-width: 1200px) {
  .contBox2 {
    margin: 30px;
    grid-area: content;
    display: grid;
    flex-direction: row;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 5;
    grid-template-areas: "h4 h4"  "p1 portada" "p2 p2" "roca ai" "p3 p3"; }
  Div h4 {
    grid-area: h4;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder; }
  .re1 {
    grid-area: p1;
    padding: 25px; }
  .re2 {
    grid-area: p2;
    width: 2fr;
    text-align: center; }
  .re3 {
    width: 3fr;
    grid-area: p3;
    text-align: center; }
  .portada {
    grid-area: portada;
    width: 1fr;
    padding-left: 100px; }
  .rock {
    grid-area: roca;
    margin-top: 20px; }
  .ai {
    grid-area: ai;
    margin-top: 20px; } }

@media (min-width: 1200px) {
  /* ValdarisCont 3*/
  .contBox3 {
    margin: 30px;
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 10;
    grid-template-areas: "h4 h4"  "p1 p1" "p2 p2" "p3 p3" "p4 p4b" "p5 p5" "p6 p6" "p7 p7" "p8 p8" "p9 p9"; }
  .val1 {
    grid-area: p1;
    margin-top: 10px;
    font-size: larger; }
  .val2 {
    grid-area: p3;
    margin: 10px;
    text-align: center; }
  .val3 {
    grid-area: p4b;
    text-align: right;
    font-size: large;
    margin-left: 10px; }
  .val4 {
    grid-area: p5;
    margin: 10px;
    text-align: center; }
  .val5 {
    grid-area: p7;
    margin: 10px;
    text-align: center; }
  .val6 {
    grid-area: p9;
    margin: 10px;
    text-align: center; }
  .valPortada {
    grid-area: p2;
    width: 50%; }
  .valPortada img {
    width: 200%; }
  .weapons {
    grid-area: p4; }
  .headBang {
    grid-area: p6; }
  .headBang img {
    width: 105%; }
  .enemy {
    grid-area: p8; }
  .enemy img {
    margin-left: 200px; } }

@media (max-width: 779px) {
  .storeBox {
    margin: 12px;
    grid-area: cont2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .storeBox img {
      width: 100%; }
  .new {
    text-align: center;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    grid-template-areas: "H H H" "STR STR2 content" "STR4 STR5 STR6" "STR7 STR8 STR9"; }
  h2 {
    grid-area: H; }
  .productA {
    margin: 30px;
    grid-area: STR;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productB {
    margin: 30px;
    grid-area: STR2;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productC {
    margin: 30px;
    grid-area: content;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productD {
    margin: 30px;
    grid-area: STR4;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productE {
    margin: 30px;
    grid-area: STR5;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productF {
    margin: 30px;
    grid-area: STR6;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productG {
    margin: 30px;
    grid-area: STR7;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productH {
    margin: 30px;
    grid-area: STR8;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productI {
    margin: 30px;
    grid-area: STR9;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; } }

@media (min-width: 780px) {
  .storeBox {
    margin: 12px;
    grid-area: cont2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .storeBox img {
      width: 100%; }
  .new {
    text-align: center;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    grid-template-areas: "H H H" "STR STR2 content" "STR4 STR5 STR6" "STR7 STR8 STR9" "car car car"; }
  h2 {
    grid-area: H; }
  .productA {
    margin: 30px;
    grid-area: STR;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productB {
    margin: 30px;
    grid-area: STR2;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productC {
    margin: 30px;
    grid-area: content;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productD {
    margin: 30px;
    grid-area: STR4;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productE {
    margin: 30px;
    grid-area: STR5;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productF {
    margin: 30px;
    grid-area: STR6;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productG {
    margin: 30px;
    grid-area: STR7;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productH {
    margin: 30px;
    grid-area: STR8;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productI {
    margin: 30px;
    grid-area: STR9;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; } }

@media (min-width: 1024px) {
  .aside {
    height: 200px; }
  .storeBox {
    margin: 12px;
    grid-area: cont2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .storeBox img {
      width: 100%; }
  .new {
    text-align: center;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    grid-template-areas: "H H H" "STR STR2 content" "STR4 STR5 STR6" "STR7 STR8 STR9"; }
  h2 {
    grid-area: H; }
  .productA {
    margin: 30px;
    grid-area: STR;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productB {
    margin: 30px;
    grid-area: STR2;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productC {
    margin: 30px;
    grid-area: content;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productD {
    margin: 30px;
    grid-area: STR4;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productE {
    margin: 30px;
    grid-area: STR5;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productF {
    margin: 30px;
    grid-area: STR6;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productG {
    margin: 30px;
    grid-area: STR7;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productH {
    margin: 30px;
    grid-area: STR8;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productI {
    margin: 30px;
    grid-area: STR9;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; } }

@media (min-width: 1200px) {
  /*Store  1200*/
  .storeBox {
    margin: 20px;
    grid-area: cont2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .storeBox img {
      width: 100%; }
  .new {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    grid-template-areas: "H H H" "STR STR2 content" "STR4 STR5 STR6" "STR7 STR8 STR9"; }
  h2 {
    grid-area: H; }
  .productA {
    margin: 30px;
    grid-area: STR;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productB {
    margin: 30px;
    grid-area: STR2;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productC {
    margin: 30px;
    grid-area: content;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productD {
    margin: 30px;
    grid-area: STR4;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productE {
    margin: 30px;
    grid-area: STR5;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productF {
    margin: 30px;
    grid-area: STR6;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productG {
    margin: 30px;
    grid-area: STR7;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productH {
    margin: 30px;
    grid-area: STR8;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; }
  .productI {
    margin: 30px;
    grid-area: STR9;
    display: content;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    display: grid; } }

@media (max-width: 779px) {
  .sonidoBoom {
    display: grid;
    grid-area: cont3;
    background-image: url(../GenAssets/Us-Sonido-boom.png);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 95%;
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 3;
    grid-template-areas: "title title " "subtitle subtitle" "desc desc"; }
    .sonidoBoom .titSonido {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: title;
      margin: 10px; }
    .sonidoBoom .subsonido {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: subtitle;
      margin: 10px; }
    .sonidoBoom .parraf {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: desc;
      margin: 10px; }
  .contPlayer {
    display: grid;
    flex-direction: column;
    width: 300px;
    margin-top: 40px;
    grid-area: cont4;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: 4;
    grid-template-areas: "img tit" "img subti" "img desc" "btn btn"; }
    .contPlayer .playerImg {
      grid-area: img;
      display: grid; }
    .contPlayer .titulo {
      grid-area: tit;
      display: grid;
      background-color: rgba(240, 248, 255, 0);
      margin: 15px;
      padding: 10px; }
    .contPlayer .episode {
      grid-area: subti;
      background-color: rgba(240, 248, 255, 0);
      display: grid;
      margin: 5px;
      padding: 10px;
      font-weight: 400; }
    .contPlayer .descript {
      grid-area: desc;
      display: grid;
      background-color: rgba(240, 248, 255, 0);
      margin: 2px;
      padding: 10px;
      font-weight: 300;
      font-style: italic; }
    .contPlayer .pIImg {
      width: 300px; }
    .contPlayer .mediaPlay {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 250%;
      margin-top: 5px; }
    .contPlayer .pImg {
      width: 30px; } }

@media (min-width: 780px) {
  .sonidoBoom {
    display: grid;
    grid-area: cont3;
    background-image: url(../GenAssets/Us-Sonido-boom.png);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 95%;
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 3;
    grid-template-areas: "title title " "subtitle subtitle" "desc desc"; }
    .sonidoBoom .titSonido {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: title;
      margin: 10px; }
    .sonidoBoom .subsonido {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: subtitle;
      margin: 10px; }
    .sonidoBoom .parraf {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: desc;
      margin: 10px; }
  .contPlayer {
    display: grid;
    flex-direction: column;
    width: 300px;
    margin-top: 40px;
    grid-area: cont4;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: 4;
    grid-template-areas: "img tit" "img subti" "img desc" "btn btn"; }
    .contPlayer .playerImg {
      grid-area: img;
      display: grid; }
    .contPlayer .titulo {
      grid-area: tit;
      display: grid;
      background-color: rgba(240, 248, 255, 0);
      margin: 15px;
      padding: 10px; }
    .contPlayer .episode {
      grid-area: subti;
      background-color: rgba(240, 248, 255, 0);
      display: grid;
      margin: 5px;
      padding: 10px;
      font-weight: 400; }
    .contPlayer .descript {
      grid-area: desc;
      display: grid;
      background-color: rgba(240, 248, 255, 0);
      margin: 2px;
      padding: 10px;
      font-weight: 300;
      font-style: italic; }
    .contPlayer .pIImg {
      width: 300px; }
    .contPlayer .mediaPlay {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 250%;
      margin-top: 5px; }
    .contPlayer .pImg {
      width: 30px; } }

@media (min-width: 1024px) {
  .sonidoBoom {
    display: grid;
    grid-area: cont3;
    background-image: url(../GenAssets/Us-Sonido-boom.png);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 95%;
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 3;
    grid-template-areas: "title title " "subtitle subtitle" "desc desc"; }
    .sonidoBoom .titSonido {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: title;
      margin: 10px; }
    .sonidoBoom .subsonido {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: subtitle;
      margin: 10px; }
    .sonidoBoom .parraf {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: desc;
      margin: 10px; }
  .contPlayer {
    display: grid;
    flex-direction: column;
    width: 300px;
    margin-top: 40px;
    grid-area: cont4;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: 4;
    grid-template-areas: "img tit" "img subti" "img desc" "btn btn"; }
    .contPlayer .playerImg {
      grid-area: img;
      display: grid; }
    .contPlayer .titulo {
      grid-area: tit;
      display: grid;
      background-color: rgba(240, 248, 255, 0);
      margin: 15px;
      padding: 10px; }
    .contPlayer .episode {
      grid-area: subti;
      background-color: rgba(240, 248, 255, 0);
      display: grid;
      margin: 5px;
      padding: 10px;
      font-weight: 400; }
    .contPlayer .descript {
      grid-area: desc;
      display: grid;
      background-color: rgba(240, 248, 255, 0);
      margin: 2px;
      padding: 10px;
      font-weight: 300;
      font-style: italic; }
    .contPlayer .pIImg {
      width: 300px; }
    .contPlayer .mediaPlay {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 250%;
      margin-top: 5px; }
    .contPlayer .pImg {
      width: 30px; } }

@media (min-width: 1200px) {
  .sonidoBoom {
    display: grid;
    grid-area: cont3;
    background-image: url(../GenAssets/Us-Sonido-boom.png);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 95%;
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 3;
    grid-template-areas: "title title " "subtitle subtitle" "desc desc"; }
    .sonidoBoom .titSonido {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: title;
      margin: 10px; }
    .sonidoBoom .subsonido {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: subtitle;
      margin: 10px; }
    .sonidoBoom .parraf {
      display: grid;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      grid-area: desc;
      margin: 10px; }
  .contPlayer {
    display: grid;
    flex-direction: column;
    width: 300px;
    margin-top: 40px;
    grid-area: cont4;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: 4;
    grid-template-areas: "img tit" "img subti" "img desc" "btn btn"; }
    .contPlayer .playerImg {
      grid-area: img;
      display: grid; }
    .contPlayer .titulo {
      grid-area: tit;
      display: grid;
      background-color: rgba(240, 248, 255, 0);
      margin: 15px;
      padding: 10px; }
    .contPlayer .episode {
      grid-area: subti;
      background-color: rgba(240, 248, 255, 0);
      display: grid;
      margin: 5px;
      padding: 10px;
      font-weight: 400; }
    .contPlayer .descript {
      grid-area: desc;
      display: grid;
      background-color: rgba(240, 248, 255, 0);
      margin: 2px;
      padding: 10px;
      font-weight: 300;
      font-style: italic; }
    .contPlayer .pIImg {
      width: 300px; }
    .contPlayer .mediaPlay {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 250%;
      margin-top: 5px; }
    .contPlayer .pImg {
      width: 30px; } }

@media (min-width: 1200px) {
  /*Blog*/
  .contBoxBlog {
    margin: 30px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: 3;
    grid-template-areas: "entry1 entry1" "entry2 entry2" "entry3 entry3"; }
  .valfBox {
    grid-area: entry1;
    width: 100%;
    margin-top: 10px; }
    .valfBox .valfaris {
      width: 100%; }
  .blogMini {
    grid-area: entry2;
    margin-top: 10px;
    background-color: rgba(66, 66, 66, 0.089); }
  .miniImg {
    width: 100%; } }

@media (max-width: 779px) {
  footer {
    width: 779px;
    grid-area: footer;
    margin-top: 25px;
    margin-right: 0px; }
  h5 {
    background-color: black;
    color: white; } }

@media (min-width: 780px) {
  footer {
    width: 100%;
    grid-area: footer;
    margin-top: 25px;
    margin-right: 0px;
    background-color: black;
    color: white; }
  h5 {
    background-color: black;
    color: white; } }

@media (min-width: 1024px) {
  footer {
    width: 100%;
    grid-area: footer;
    margin-top: 25px;
    margin-right: 0px;
    background-color: black;
    color: white; }
    footer li {
      width: 100%; }
  h5 {
    background-color: black;
    color: white;
    width: 100%; } }

@media (min-width: 1200px) {
  footer {
    width: 100%;
    grid-area: footer;
    margin-top: 25px;
    margin-right: 0px;
    background-color: black;
    color: white; }
    footer li {
      font-size: 15px;
      margin: 5px 0px 0px 15px;
      list-style: none; }
  h5 {
    background-color: black;
    color: white;
    margin-top: 15px; } }

@media (max-width: 779px) {
  nav {
    background-color: black;
    color: aliceblue;
    text-align: center;
    grid-area: nav;
    position: fixed;
    border: 10px;
    margin-bottom: 5px;
    top: 0px;
    z-index: 999;
    width: 100%;
    height: 60px;
    font-size: 16px; }
  a {
    color: white;
    font-size: 20px; }
  .navi {
    position: absolute;
    top: 3px;
    left: 65px; }
  .logo {
    width: 54px;
    position: absolute;
    top: 3px;
    left: 5px; }
  .twitch {
    position: absolute;
    width: 54px;
    right: 75px;
    top: 3px; }
  .twitter {
    position: absolute;
    width: 54px;
    right: 145px;
    top: 3px; }
  .insta {
    position: absolute;
    width: 54px;
    right: 215px;
    top: 3px; }
  .youtube {
    position: absolute;
    width: 54px;
    right: 285px;
    top: 3px; }
  footer {
    background-color: black;
    grid-area: footer;
    color: aliceblue;
    width: 200%; } }

@media (min-width: 780px) {
  nav {
    background-color: black;
    color: aliceblue;
    text-align: center;
    grid-area: nav;
    position: fixed;
    border: 10px;
    margin-bottom: 5px;
    top: 0px;
    z-index: 999;
    width: 100%;
    height: 60px;
    font-size: medium; }
  a {
    color: white;
    font-size: 25px;
    margin-left: 20px; }
  .navi {
    position: absolute;
    top: 3px;
    left: 65px; }
  .logo {
    width: 54px;
    position: absolute;
    top: 3px;
    left: 5px; }
  .twitch {
    position: absolute;
    width: 54px;
    right: 75px;
    top: 3px; }
  .twitter {
    position: absolute;
    width: 54px;
    right: 145px;
    top: 3px; }
  .insta {
    position: absolute;
    width: 54px;
    right: 215px;
    top: 3px; }
  .youtube {
    position: absolute;
    width: 54px;
    right: 285px;
    top: 3px; } }

@media (min-width: 1024px) {
  nav {
    background-color: black;
    color: aliceblue;
    text-align: center;
    grid-area: nav;
    position: fixed;
    border: 0;
    margin-bottom: 15px;
    width: 100%; }
  a {
    color: white;
    font-size: 30px; }
  .logo {
    width: 54px;
    position: absolute;
    top: 7px;
    left: 10px; }
  .twitch {
    position: absolute;
    width: 54px;
    right: 10px;
    top: 7px; }
  .twitter {
    position: absolute;
    width: 54px;
    right: 75px;
    top: 7px; }
  .insta {
    position: absolute;
    width: 54px;
    right: 135px;
    top: 7px; }
  .youtube {
    position: absolute;
    width: 54px;
    right: 195px;
    top: 7px; } }

@media (min-width: 1200px) {
  nav {
    background-color: black;
    color: aliceblue;
    text-align: center;
    grid-area: nav;
    position: fixed;
    border: 0;
    z-index: 999;
    margin-bottom: 15px;
    width: 100%; }
  a {
    color: white;
    font-size: 30px; }
  .logo {
    width: 54px;
    position: absolute;
    top: 7px;
    left: 10px; }
  .twitch {
    position: absolute;
    width: 54px;
    right: 15px;
    top: 7px; }
  .twitter {
    position: absolute;
    width: 54px;
    right: 75px;
    top: 7px; }
  .insta {
    position: absolute;
    width: 54px;
    right: 135px;
    top: 7px; }
  .youtube {
    position: absolute;
    width: 54px;
    right: 195px;
    top: 7px; } }

@media (max-width: 779px) {
  form {
    grid-area: content;
    width: 1fr;
    margin-left: 45px;
    margin-top: 65px; }
  form textarea {
    width: 478px; } }

@media (min-width: 780px) {
  form {
    grid-area: content;
    width: 1fr;
    margin-left: 45px;
    margin-top: 65px; }
  form textarea {
    width: 478px; } }

@media (min-width: 1024px) {
  form {
    grid-area: content;
    width: 1fr;
    margin-left: 45px;
    margin-top: 65px; }
  form textarea {
    width: 478px; } }

@media (min-width: 1200px) {
  form {
    grid-area: content;
    width: 1fr;
    margin-left: 45px;
    margin-top: 65px; }
  form textarea {
    width: 478px; } }

@media (max-width: 779px) {
  .Abuguet {
    grid-area: welc;
    display: grid; }
    .Abuguet .welcome {
      background-image: url(/Assets/GenAssets/Logo-white.png);
      background-attachment: fixed;
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 95%;
      width: 100%;
      height: 600px;
      margin-top: 61px;
      color: white;
      background-color: #033b61; } }

@media (min-width: 780px) {
  .Abuguet {
    grid-area: welc;
    display: grid; }
    .Abuguet .welcome {
      background-image: url(/Assets/GenAssets/Logo-white.png);
      background-attachment: fixed;
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 95%;
      width: 100%;
      height: 600px;
      margin-top: 61px;
      color: white;
      background-color: #033b61; } }

@media (min-width: 1024px) {
  .Abuguet {
    grid-area: welc;
    display: grid; }
    .Abuguet .welcome {
      background-image: url(/Assets/GenAssets/Logo-white.png);
      background-attachment: fixed;
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 95%;
      width: 100%;
      height: 600px;
      margin-top: 61px;
      color: white;
      background-color: #033b61; } }

@media (min-width: 1200px) {
  .Abuguet {
    grid-area: welc;
    display: grid; }
    .Abuguet .welcome {
      background-image: url(/Assets/GenAssets/Logo-white.png);
      background-attachment: fixed;
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 95%;
      width: 100%;
      height: 600px;
      margin-top: 61px;
      color: white;
      background-color: #033b61; } }

@media (min-width: 1024px) {
  .side {
    color: snow;
    width: 10%;
    height: 100%;
    margin-top: 60px;
    padding-left: 10px;
    text-overflow: inherit;
    float: right;
    list-style: none;
    font-size: px;
    background-color: black;
    grid-area: aside;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 4;
    grid-template-areas: "login" "sear"   "car" "total";
    position: fixed;
    z-index: 999;
    right: 0px; }
    .side li {
      list-style: none;
      margin-left: 3px;
      grid-area: login; }
    .side .carro {
      grid-area: car;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
    .side .erase {
      grid-area: button; }
    .side .search {
      grid-area: sear;
      display: flex;
      justify-content: space-evenly; }
      .side .search .lupa {
        height: 20px; } }

@media (min-width: 1200px) {
  .side {
    color: snow;
    width: 10%;
    height: 100%;
    margin-top: 60px;
    padding-left: 0px;
    padding-top: 7px;
    float: right;
    list-style: none;
    background-color: black;
    grid-area: aside;
    display: block;
    position: fixed;
    z-index: 999;
    right: 0px; }
    .side li {
      list-style: none;
      margin-left: 3px; } }

.shortSide {
  height: 441px;
  color: snow;
  width: 10%;
  margin-top: 60px;
  padding-left: 0px;
  padding-top: 7px;
  float: right;
  list-style: none;
  background-color: black;
  grid-area: aside;
  display: block;
  position: fixed;
  z-index: 999;
  right: 0px; }
  .shortSide li {
    list-style: none;
    margin-left: 3px; }

.shortSideB {
  height: 790px;
  color: snow;
  width: 10%;
  margin-top: 60px;
  padding-left: 0px;
  padding-top: 7px;
  float: right;
  list-style: none;
  background-color: black;
  grid-area: aside;
  display: block;
  position: fixed;
  z-index: 999;
  right: 0px; }
  .shortSideB li {
    list-style: none;
    margin-left: 3px; }

.carro {
  grid-area: car; }

.qtyA {
  width: 50px;
  background-color: black;
  color: azure;
  resize: none;
  overflow: auto; }

.qtyB {
  width: 50px;
  background-color: black;
  color: azure;
  resize: none;
  overflow: auto; }

.qtyC {
  width: 50px;
  background-color: black;
  color: azure;
  resize: none;
  overflow: auto; }

.cartAside {
  margin-top: 5px;
  display: block;
  width: 80px; }

img {
  width: 100%; }

.total {
  grid-area: total; }

.totalT {
  width: 50px;
  background-color: black;
  color: azure;
  resize: none;
  overflow: auto; }
