
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
    font-weight: 600;

}

@import "var";
@import"home";
// @import "media779";
// @import "media780";
// @import "media1024";
// @import "media1200";
@import "burguer";

@import "News";
@import "RE5";
@import "valf";
@import "storebox";

@import "Podcast";
@import "blog";
@import "footer";
@import "nav";
@import "form";
@import "logo";
@import "aside";