* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
    font-weight: 600;
    
}

/* .home{  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr,1fr,1fr,40px;
    grid-template-areas: "nav nav nav nav"
                        "content content content aside"
                        "footer footer footer footer";
} */




/*Phone vertical */
@media(max-width:779px)
{



body{
    background-color: rgb(255, 255, 255);
    }

.home{  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr,1fr,1fr,50px;
    grid-template-areas: "nav nav nav nav"
                        "content content content content"
                        "footer footer footer footer";
}

/* SASS ThIS */
/*Blog*/
.contBoxBlog{
    grid-area: content;
    width: 100%;
    display: grid;
    margin:30px;

    grid-template-columns: repeat(2,3fr);
    grid-template-rows: 3 ;
    grid-template-areas: "entry1 entry1"
                            "entry2 entry2"                                
                            "entry3 entry3"
                            ;
}   



.valfBox
{
    grid-area:entry1 ;
    
}
   
.blogMini{
    grid-area: entry2;
    margin-top: 10px;
    background-color: rgba(66, 66, 66, 0.089);
}

.miniImg{
    width: 100%;
}


 /*SASS this*/

 .contBox2 {
    margin: 30px;
    grid-area: content;
    display: grid;
    
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: 5 ;
    grid-template-areas:"h4 h4" 
                        "p1 portada"
                        "p2 p2"
                        "roca ai"
                        "p3 p3"
                        ;
        
        
    } 

   

    Div h4
    {
 grid-area: h4;
 text-align: center;
 font-size:xx-large;
 font-weight: bolder;
    }

.re1
{

 grid-area: p1;
 padding: 25px;


}
.re2
{
grid-area: p2;
width: 2fr;
text-align: center;


}
.re3
{
width: 3fr;
grid-area: p3;
text-align: center;

}

.portada
{
    grid-area: portada;
    width: 1fr;
    padding-left: 100px;
}

.rock{
    grid-area: roca;
    margin-top: 20px;
}

.ai{
    grid-area: ai;
    margin-top: 20px;
}


/* ValdarisCont 3*/
 .contBox3 {
        margin: 35px;
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: 10 ;
        grid-template-areas:"h4 h4" 
                            "p1 p1"
                            "p2 p2"
                            "p3 p3"
                            "p4 p4"
                            "p5 p5"
                            "p6 p6"
                            "p7 p7"
                            "p8 p8"
                            "p9 p9"
                            " p10 p10"
                            ;
            
            
        } 
    
        
        .val1
        {
            grid-area: p1;
            margin-top: 10px;
            font-size:larger;
        }
        .val2
        {
            grid-area: p3;
            margin: 10px;
            text-align: center;

        }
        .val3
        {
            grid-area: p4;
            text-align: right;
            font-size: large;
            margin-left: 10px;
        }

        
        .val4
        {
            grid-area: p6;
            margin: 10px;
            text-align: center;

        }
        .val5
        {
            grid-area: p8;
            margin: 10px;

            text-align: center;

        }
        .val6
        {
            grid-area: p10;
            margin: 10px;

            text-align: center;

        }

        .valPortada
        {
            grid-area: p2;
            width: 50%;
        
        }

        .valPortada img {
            width: 200%;
        }

        .weapons
        {
            grid-area: p5;
            margin-left:  15px;
        }
        
        .headBang
        {
            grid-area: p7;
           
        }

        .headBang img
        {
            width: 105%;
        }
        .enemy
        {
            grid-area: p9;
        }
        .enemy img 
        {
        margin-left: 100px ;        
        }



nav{
    background-color: rgb(0, 0, 0);
        
        
       color: aliceblue;
       text-align: center;
       grid-area: nav;
       position: fixed;
       border: 10;
       margin-bottom: 5px;
       z-index: 9000;
       width: 100%; 
       font-size:medium;
  
    }

form
{
grid-area: content;
width:1fr;
margin-left: 20px;
margin-top: 13px;
}

form textarea
{
    width: 478px;
}

    a{
        color: rgb(255, 255, 255);
        font-size: 10px;
    }

.logo{
    width: 14px;
     position: absolute;
     top: 3px;
     left: 5px;
    }

.twitch {
    position:absolute;
    
    width:14px;
    right: 10px;
    top:3px
}

.twitter{
    position:absolute;
    width: 14px;
    right: 25px;
    top: 3px;

}

.insta{
    position:absolute;
    width:14px;
    right: 40px;
    top:3px
}
.youtube{
    position:absolute;
    width:14px;
    right: 55px;
    top:3px

}

footer{
    background-color: black;
    grid-area: footer;
    color: aliceblue;
}


/* Store*/

/*Store */
.storeBox{
    margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        
}
.productA{
      

    margin: 40px;
    grid-area: content;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align:  center;



}

.productB{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 100%;
text-align:  center;


}

.productC{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 100%;
text-align:  center;
}
/*Content*/

.contBox
{
    
        margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        
  }

.retro__img{
    width: 100%;
}

.retro__tit{
    margin-top: 13px;

}

.mini__img{
width: 100%;}


.mini__tit{
    margin-top: 13px;
}
.perfect__img
{
    width: 100%;
}

.perfect__tit{
    margin-top: 13px;
}

.valfaris
{
    
width: 100%;

}

.valfaris__text
{
    width: 100%;
}




/*Burger menu */

.burguer 
   {
    margin-top:  45px;
    
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 9000;
    cursor: pointer;
    position: fixed;
    grid-area: content;

    
   }
   
   
.burguer span 
    {
    display: block;
    width: 100%;
    background:rgb(54, 147, 177);
    height: 10px;
    margin-top: 3px;
    transform-origin: 0px 100%;
    transition: all 200ms;
    grid-area: content;
    }


.activeline1 {
transform:rotate(45deg)
translate(0px, -6px);
}
.activeline2{
opacity:0;
margin-left: -30px;
}
.activeline3{
    Transform: rotate(-45deg)
    translate(6px, 8px);
}




 .logins {
    
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    font-size: 30px;    
    justify-content: space-evenly;
    position: fixed;
    list-style: none;
    z-index: 9000;
    top: 55px;
    right: 43px;
    display: block;

    
         }

.social a {
    flex-direction: column;
    width: 10px;
    background-color: rgb(245, 240, 240);
    font-size: 35px;    
   float: right;
}

aside{
    display: none;
}

.sidekick
{
background-color: rgb(0, 0, 0);
color: aliceblue;
margin-top: 10px;
display: block;
}
}

/*tablet vertical */
@media(min-width:780px)
{



body{
    background-color: rgb(255, 255, 255);
    }

.home{  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr,1fr,1fr,1fr;
    grid-template-areas: "nav nav nav nav"
                        "content content content content"
                        "footer footer footer footer";
}


/* SASS ThIS */
/*Blog*/
.contBoxBlog{
    grid-area: content;
    width: 100%;
    display: grid;
    margin:30px;

    grid-template-columns: repeat(2,3fr);
    grid-template-rows: 3 ;
    grid-template-areas: "entry1 entry1"
                            "entry2 entry2"                                
                            "entry3 entry3"
                            ;
}   



.valfBox
{
    grid-area:entry1 ;
    
}
   
.blogMini{
    grid-area: entry2;
    margin-top: 10px;
    background-color: rgba(66, 66, 66, 0.089);
}

.miniImg{
    width: 100%;
}


 /*SASS this*/

 .contBox2 {
    margin: 30px;
    grid-area: content;
    display: grid;
    
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: 5 ;
    grid-template-areas:"h4 h4" 
                        "p1 portada"
                        "p2 p2"
                        "roca ai"
                        "p3 p3"
                        ;
        
        
    } 

   

    Div h4
    {
 grid-area: h4;
 text-align: center;
 font-size:xx-large;
 font-weight: bolder;
    }

.re1
{

 grid-area: p1;
 padding: 25px;


}
.re2
{
grid-area: p2;
width: 2fr;
text-align: center;


}
.re3
{
width: 3fr;
grid-area: p3;
text-align: center;

}

.portada
{
    grid-area: portada;
    width: 1fr;
    padding-left: 100px;
}

.rock{
    grid-area: roca;
    margin-top: 20px;
}

.ai{
    grid-area: ai;
    margin-top: 20px;
}


/* ValdarisCont 3*/
 .contBox3 {
        margin: 35px;
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: 10 ;
        grid-template-areas:"h4 h4" 
                            "p1 p1"
                            "p2 p2"
                            "p3 p3"
                            "p4 p4"
                            "p5 p5"
                            "p6 p6"
                            "p7 p7"
                            "p8 p8"
                            "p9 p9"
                            " p10 p10"
                            ;
            
            
        } 
    
        
        .val1
        {
            grid-area: p1;
            margin-top: 10px;
            font-size:larger;
        }
        .val2
        {
            grid-area: p3;
            margin: 10px;
            text-align: center;

        }
        .val3
        {
            grid-area: p4;
            text-align: right;
            font-size: large;
            margin-left: 10px;
        }

        
        .val4
        {
            grid-area: p6;
            margin: 10px;
            text-align: center;

        }
        .val5
        {
            grid-area: p8;
            margin: 10px;

            text-align: center;

        }
        .val6
        {
            grid-area: p10;
            margin: 10px;

            text-align: center;

        }

        .valPortada
        {
            grid-area: p2;
            width: 50%;
        
        }

        .valPortada img {
            width: 200%;
        }

        .weapons
        {
            grid-area: p5;
            margin-left:  75px;
        }
        
        .headBang
        {
            grid-area: p7;
           
        }

        .headBang img
        {
            width: 105%;
        }
        .enemy
        {
            grid-area: p9;
        }
        .enemy img 
        {
        margin-left: 150px ;        
        }

nav{
    background-color: rgb(0, 0, 0);
        
        
       color: aliceblue;
       text-align: center;
       grid-area: nav;
       position: fixed;
       border: 10;
       margin-bottom: 5px;
       width: 100%; 
       z-index: 9000;
       font-size:medium;
  
    }

form
{
grid-area: content;
width:1fr;
margin-left: 20px;
margin-top: 13px;
}

form textarea
{
    width: 478px;
}

    a{
        color: rgb(255, 255, 255);
        font-size: 30px;
    }

.logo{
    width: 25px;
     position: absolute;
     top: 7px;
     left: 10px;
    }

.twitch {
    position:absolute;
    
    width:25px;
    right: 10px;
    top:7px
}

.twitter{
    position:absolute;
    width: 25px;
    right: 35px;
    top: 7px;

}

.insta{
    position:absolute;
    width:25px;
    right: 60px;
    top:7px
}
.youtube{
    position:absolute;
    width:25px;
    right: 85px;
    top:7px

}

footer{
    background-color: black;
    grid-area: footer;
    color: aliceblue;
}

/*Store */
.storeBox{
    margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        
}
.productA{
      

    margin: 40px;
    grid-area: content;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align:  center;



}

.productB{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 100%;
text-align:  center;


}

.productC{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 100%;
text-align:  center;
}

/*Content*/

.contBox
{
    
        margin: 40px;
        grid-area: content;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        
  }

.retro__img{
    width: 100%;
}

.retro__tit{
    margin-top: 13px;

}

.mini__img{
width: 100%;}


.mini__tit{
    margin-top: 13px;
}
.perfect__img
{
    width: 100%;
}

.perfect__tit{
    margin-top: 13px;
}

.valfaris
{
    
width: 100%;

}

.valfaris__text
{
    width: 100%;
}




/*Burger menu */

.burguer 
   {
    margin-top:  45px;
    
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 9000;
    cursor: pointer;
    position: fixed;
    grid-area: content;

    
   }
   
   
.burguer span 
    {
    display: block;
    width: 100%;
    background:rgb(54, 147, 177);
    height: 10px;
    margin-top: 3px;
    transform-origin: 0px 100%;
    transition: all 200ms;
    grid-area: content;
    }


.activeline1 {
transform:rotate(45deg)
translate(0px, -6px);
}
.activeline2{
opacity:0;
margin-left: -30px;
}
.activeline3{
    Transform: rotate(-45deg)
    translate(6px, 8px);
}




 .logins {
    
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    font-size: 30px;    
    justify-content: space-evenly;
    position: fixed;
    list-style: none;
    z-index: 9000;
    top: 55px;
    right: 43px;
    display: block;

    
         }

.social a {
    flex-direction: column;
    width: 10px;
    background-color: rgb(245, 240, 240);
    font-size: 35px;    
   float: right;
}

aside{
    display: none;
}

.sidekick
{
background-color: rgb(0, 0, 0);
color: aliceblue;
margin-top: 10px;
display: block;
}
}


/*  laptops*/

@media(min-width:1024px)
{

    .home{  
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr,1fr,1fr,50px;
        grid-template-areas: "nav nav nav nav"
                            "content content content aside"
                            "footer footer footer footer";
    }


    
/*SASS this*/

.reP1
{
    width: 2fr;
    grid-area: footer ;
}
.reP2
{
width: 1fr;
grid-area: footer ;

}
.reP3
{
    width: 3fr;
    grid-area: footer ;

}






/*Store */
.storeBox{
    margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
}
.productA{
      

    margin: 40px;
    grid-area: content;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    text-align:  center;



}

.productB{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 30%;
text-align:  center;


}

.productC{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 30%;
text-align:  center;
}

    .burguer 
    {
    
     display: none ;
    }
    

    body h2{
        text-align: center;
        }
    
    h5{
        background-color: black;
        color: rgb(255, 255, 255);
    }
    
    nav{
        background-color: rgb(0, 0, 0);
        
       color: aliceblue;
        text-align: center;
        grid-area: nav;
        position: fixed;
        border: 10;
        font-size: 25px;
        margin-bottom: 15px;
        width: 100%; 
    }
    
    a{
        color: rgb(255, 255, 255);
        font-size: 30px;
    }

.logo{
    width: 25px;
     position: absolute;
     top: 7px;
     left: 10px;
    }

.twitch {
    position:absolute;
    
    width:25px;
    right: 10px;
    top:7px
}

.twitter{
    position:absolute;
    width: 25px;
    right: 35px;
    top: 7px;

}

.insta{
    position:absolute;
    width:25px;
    right: 60px;
    top:7px
}
.youtube{
    position:absolute;
    width:25px;
    right: 85px;
    top:7px

}
    
    footer{
        width: 100%; 
        grid-area: footer;
        margin-top: 25px;
    }
    
    aside{
        color: rgb(255, 250, 250);
        width: 100%; 
        height:100%;
        margin: 37px;
        padding-left: 10px;
       text-overflow: inherit;
        float: right;
        list-style: none;
        font-size: px;
        background-color: rgb(0, 0, 0);
        grid-area: aside;
        display: block;
         }


         
    
     body div {
        background-color: rgb(255, 255, 255);
        width: 89%;
        
    }
    
    
    div .descript{
        margin: 15px;
        padding: 10px;
    }
    
    
    .sonidoBoom{
       
       grid-area:content;
       width: 100%;
       margin-top: 15px;
       
       
    }
    
    .contBox {
    margin: 36px;
    grid-area: content;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    
    
    .mini{
        width: 30%;
        font-size:initial ;
       
    
    
    }
    .mini__tit {
        text-align: center;
        font-size: 100%;
        background-color: rgba(0, 255, 255, 0.055);
        height:fit-content;
    }
    .mini__img {
        width: 100%;
        height: 60%
    
    }
    
    .mini div{
        width: 30%;
        
    }
    
    .retro{
        width: 30%;
    
    }
    
    .retro__tit {
        text-align:center;
        font: size 100%;
        
        height:fit-content;
    
        background-color: rgba(0, 255, 255, 0.055);
    }
    
    .retro__img {
        width: 100%;
        height: 60%
    }
    
    .perfect{
        width: 30%;
        
    }
    
    .perfect__tit {
        text-align: center;
        font-size: 18px;
        background-color: rgba(0, 255, 255, 0.055);
        height:fit-content;
    }
        
    
    .perfect__img {
        width: 100%;
        height: 60%
    }
    

}

 /*PC high*/
 @media(min-width:1200px)

{
    .home{  
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 4 ;
        grid-template-areas: "nav nav nav nav"
                            "content content content aside"
                            "footer footer footer footer";
    }

 
/*Blog*/
.contBoxBlog{
    grid-area: content;
    width: 100%;
    display: grid;
    margin:30px;

    grid-template-columns: repeat(2,3fr);
    grid-template-rows: 3 ;
    grid-template-areas: "entry1 entry1"
                            "entry2 entry2"                                
                            "entry3 entry3"
                            ;
}   



.valfBox
{
    grid-area:entry1 ;
    
}
   
.blogMini{
    grid-area: entry2;
    margin-top: 10px;
    background-color: rgba(66, 66, 66, 0.089);
}

.miniImg{
    width: 100%;
}


 /*SASS this*/

 .contBox2 {
    margin: 30px;
    grid-area: content;
    display: grid;
    
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: 5 ;
    grid-template-areas:"h4 h4" 
                        "p1 portada"
                        "p2 p2"
                        "roca ai"
                        "p3 p3"
                        ;
        
        
    } 

   

    Div h4
    {
 grid-area: h4;
 text-align: center;
 font-size:xx-large;
 font-weight: bolder;
    }

.re1
{

 grid-area: p1;
 padding: 25px;


}
.re2
{
grid-area: p2;
width: 2fr;
text-align: center;


}
.re3
{
width: 3fr;
grid-area: p3;
text-align: center;

}

.portada
{
    grid-area: portada;
    width: 1fr;
    padding-left: 100px;
}

.rock{
    grid-area: roca;
    margin-top: 20px;
}

.ai{
    grid-area: ai;
    margin-top: 20px;
}


/* ValdarisCont 3*/
 .contBox3 {
        margin: 35px;
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: 10 ;
        grid-template-areas:"h4 h4" 
                            "p1 p1"
                            "p2 p2"
                            "p3 p3"
                            "p4 p4b"
                            "p5 p5"
                            "p6 p6"
                            "p7 p7"
                            "p8 p8"
                            "p9 p9"
                            ;
            
            
        } 
    
        
        .val1
        {
            grid-area: p1;
            margin-top: 10px;
            font-size:larger;
        }
        .val2
        {
            grid-area: p3;
            margin: 10px;
            text-align: center;

        }
        .val3
        {
            grid-area: p4b;
            text-align: right;
            font-size: large;
            margin-left: 10px;
        }

        
        .val4
        {
            grid-area: p5;
            margin: 10px;
            text-align: center;

        }
        .val5
        {
            grid-area: p7;
            margin: 10px;

            text-align: center;

        }
        .val6
        {
            grid-area: p9;
            margin: 10px;

            text-align: center;

        }

        .valPortada
        {
            grid-area: p2;
            width: 50%;
        
        }

        .valPortada img {
            width: 200%;
        }

        .weapons
        {
            grid-area: p4;
        }
        
        .headBang
        {
            grid-area: p6;
           
        }

        .headBang img
        {
            width: 105%;
        }
        .enemy
        {
            grid-area: p8;
        }
        .enemy img 
        {
        margin-left:200px ;        
        }

/*Store */
.storeBox{
    margin: 12px;
        grid-area: content;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
}
.productA{
      

    margin: 40px;
    grid-area: content;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    text-align:  center;



}

.productB{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 30%;
text-align:  center;


}

.productC{
  

margin: 40px;
grid-area: content;
display:flex;
flex-direction: column;
justify-content: space-evenly;
width: 30%;
text-align:  center;
}


    
    .burguer 
    {
         display: none ;
    }
    
    body h2{
        text-align: center;
        }
    
    h5{
        background-color: black;
        color: rgb(255, 255, 255);
    }
    
    nav{
        background-color: rgb(0, 0, 0);
        
       color: aliceblue;
        text-align: center;
        grid-area: nav;
        position: fixed;
        border: 10;
        margin-bottom: 15px;
        width: 100%; 
    }
    
    a{
        color: rgb(255, 255, 255);
        font-size: 30px;
    }

.logo{
    width: 25px;
     position: absolute;
     top: 7px;
     left: 10px;
    }

.twitch {
    position:absolute;
    
    width:25px;
    right: 10px;
    top:7px
}

.twitter{
    position:absolute;
    width: 25px;
    right: 35px;
    top: 7px;

}

.insta{
    position:absolute;
    width:25px;
    right: 60px;
    top:7px
}
.youtube{
    position:absolute;
    width:25px;
    right: 85px;
    top:7px

}
    
    footer{
        width: 100%; 
        grid-area: footer;
        margin-top: 25px;
        margin-right: 0px;
    }
    
    .side{
        color: rgb(255, 250, 250);
        width: 100%; 
        height:100%;
        margin-top: 0px;
        padding-left: 10px;
        padding-top: 37px;
       text-overflow: inherit;
        float: right;
        list-style: none;
        
        background-color: rgb(0, 0, 0);
        grid-area: aside;
        display: block;
         }



        
    
    
     body div {
        background-color: rgb(255, 255, 255);
        width: 89%;
        
    }
    
    
    div .descript{
        margin: 15px;
        padding: 10px;
    }
    
    
    .sonidoBoom{
       
       grid-area:content;
       width: 100%;
       margin-top: 15px;
       
       
    }
    
    .contBox {
    margin: 30px;
    grid-area: content;
    
    
       
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    
    
    .mini{
        width: 30%;
        font-size:initial ;
       
    
    
    }
    .mini__tit {
        text-align: center;
        font-size: 100%;
        background-color: rgba(0, 255, 255, 0.055);
        height:fit-content;
    }
    .mini__img {
        width: 100%;
        height: 60%
    
    }
    
    .mini div{
        width: 30%;
        
    }
    
    .retro{
        width: 30%;
    
    }
    
    .retro__tit {
        text-align:center;
        font: size 100%;
        
        height:fit-content;
    
        background-color: rgba(0, 255, 255, 0.055);
    }
    
    .retro__img {
        width: 100%;
        height: 60%
    }
    
    .perfect{
        width: 30%;
        
    }
    
    .perfect__tit {
        text-align: center;
        font-size: 18px;
        background-color: rgba(0, 255, 255, 0.055);
        height:fit-content;
    }
        
    
    .perfect__img {
        width: 100%;
        height: 60%
    }
    
    

}



