/*Phone vertical */
@media (max-width: 779px) {
  body {
    background-color: white; }
    body nav {
      background-color: black;
      color: aliceblue;
      text-align: center;
      grid-area: nav;
      position: fixed;
      border: 10;
      margin-bottom: 5px;
      z-index: 9000;
      width: 100%;
      font-size: medium; }
      body nav .logo {
        width: 14px;
        position: absolute;
        top: 3px;
        left: 5px; }
      body nav .twitch {
        position: absolute;
        width: 14px;
        right: 10px;
        top: 3px; }
      body nav .twitter {
        position: absolute;
        width: 14px;
        right: 25px;
        top: 3px; }
      body nav .insta {
        position: absolute;
        width: 14px;
        right: 40px;
        top: 3px; }
      body nav .youtube {
        position: absolute;
        width: 14px;
        right: 55px;
        top: 3px; }
    body form {
      grid-area: content;
      width: 1fr;
      margin-left: 20px;
      margin-top: 13px; }
      body form textarea {
        width: 478px; }
      body form a {
        color: white;
        font-size: 10px; }
  .home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr,1fr,1fr,50px;
    grid-template-areas: "nav nav nav nav" "content content content content" "footer footer footer footer"; }
  footer {
    background-color: black;
    grid-area: footer;
    color: aliceblue; }
  /* Store*/
  /*Store */
  .storeBox {
    margin: 12px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .storeBox .productA {
      margin: 40px;
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      text-align: center; }
    .storeBox .productB {
      margin: 40px;
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      text-align: center; }
    .storeBox .productC {
      margin: 40px;
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      text-align: center; }
  .productA {
    margin: 40px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center; }
  .productB {
    margin: 40px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center; }
  .productC {
    margin: 40px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center; }
  /*Content*/
  .contBox {
    margin: 12px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .retro__img {
    width: 100%; }
  .retro__tit {
    margin-top: 13px; }
  .mini__img {
    width: 100%; }
  .mini__tit {
    margin-top: 13px; }
  .perfect__img {
    width: 100%; }
  .perfect__tit {
    margin-top: 13px; }
  .valfaris {
    width: 100%; }
  .valfaris__text {
    width: 100%; }
  /*Burger menu */
  .burguer {
    margin-top: 45px;
    width: 45px;
    height: 45px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 9000;
    cursor: pointer;
    position: fixed;
    grid-area: content; }
  .burguer span {
    display: block;
    width: 100%;
    background: #3693b1;
    height: 10px;
    margin-top: 3px;
    transform-origin: 0px 100%;
    transition: all 200ms;
    grid-area: content; }
  .activeline1 {
    transform: rotate(45deg) translate(0px, -6px); }
  .activeline2 {
    opacity: 0;
    margin-left: -30px; }
  .activeline3 {
    Transform: rotate(-45deg) translate(6px, 8px); }
  .logins {
    flex-direction: column;
    background-color: black;
    font-size: 30px;
    justify-content: space-evenly;
    position: fixed;
    list-style: none;
    z-index: 9000;
    top: 55px;
    right: 43px;
    display: block; }
  .social a {
    flex-direction: column;
    width: 10px;
    background-color: #f5f0f0;
    font-size: 35px;
    float: right; }
  aside {
    display: none; }
  .sidekick {
    background-color: black;
    color: aliceblue;
    margin-top: 10px;
    display: block; } }

@media (min-width: 780px) {
  body {
    background-color: white; }
  .home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr,1fr,1fr,1fr;
    grid-template-areas: "nav nav nav nav" "content content content content" "footer footer footer footer"; }
  nav {
    background-color: black;
    color: aliceblue;
    text-align: center;
    grid-area: nav;
    position: fixed;
    border: 10;
    margin-bottom: 5px;
    width: 100%;
    z-index: 9000;
    font-size: medium; }
  form {
    grid-area: content;
    width: 1fr;
    margin-left: 20px;
    margin-top: 13px; }
  form textarea {
    width: 478px; }
  a {
    color: white;
    font-size: 30px; }
  .logo {
    width: 25px;
    position: absolute;
    top: 7px;
    left: 10px; }
  .twitch {
    position: absolute;
    width: 25px;
    right: 10px;
    top: 7px; }
  .twitter {
    position: absolute;
    width: 25px;
    right: 35px;
    top: 7px; }
  .insta {
    position: absolute;
    width: 25px;
    right: 60px;
    top: 7px; }
  .youtube {
    position: absolute;
    width: 25px;
    right: 85px;
    top: 7px; }
  footer {
    background-color: black;
    grid-area: footer;
    color: aliceblue; }
  /*Store */
  .storeBox {
    margin: 12px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*Content*/
    /*Burger menu */ }
    .storeBox button {
      background-color: #033b61;
      color: white; }
      .storeBox button:hover {
        background-color: #60b8f3;
        color: black;
        font-weight: bolder; }
      .storeBox button .productA {
        margin: 40px;
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        text-align: center; }
      .storeBox button .productB {
        margin: 40px;
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        text-align: center; }
      .storeBox button .productC {
        margin: 40px;
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        text-align: center; }
    .storeBox .contBox {
      margin: 40px;
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
    .storeBox .retro__img {
      width: 100%; }
    .storeBox .retro__tit {
      margin-top: 13px; }
    .storeBox .mini__img {
      width: 100%; }
    .storeBox .mini__tit {
      margin-top: 13px; }
    .storeBox .perfect__img {
      width: 100%; }
    .storeBox .perfect__tit {
      margin-top: 13px; }
    .storeBox .valfaris {
      width: 100%; }
    .storeBox .valfaris__text {
      width: 100%; }
    .storeBox .burguer {
      margin-top: 45px;
      width: 45px;
      height: 45px;
      background-color: white;
      position: absolute;
      right: 0px;
      top: 5px;
      z-index: 9000;
      cursor: pointer;
      position: fixed;
      grid-area: content; }
    .storeBox .burguer span {
      display: block;
      width: 100%;
      background: #3693b1;
      height: 10px;
      margin-top: 3px;
      transform-origin: 0px 100%;
      transition: all 200ms;
      grid-area: content; }
    .storeBox .activeline1 {
      transform: rotate(45deg) translate(0px, -6px); }
    .storeBox .activeline2 {
      opacity: 0;
      margin-left: -30px; }
    .storeBox .activeline3 {
      Transform: rotate(-45deg) translate(6px, 8px); }
    .storeBox .logins {
      flex-direction: column;
      background-color: black;
      font-size: 30px;
      justify-content: space-evenly;
      position: fixed;
      list-style: none;
      z-index: 9000;
      top: 55px;
      right: 43px;
      display: block; }
    .storeBox .social a {
      flex-direction: column;
      width: 10px;
      background-color: #f5f0f0;
      font-size: 35px;
      float: right; }
    .storeBox aside {
      display: none; }
    .storeBox .sidekick {
      background-color: black;
      color: aliceblue;
      margin-top: 10px;
      display: block; }
  /*  laptops*/ }

@media (min-width: 780px) and (min-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr,1fr,1fr,50px;
    grid-template-areas: "nav nav nav nav" "content content content aside" "footer footer footer footer"; }
  /*Store */
  .storeBox {
    margin: 12px;
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .storeBox button {
      background-color: #033b61;
      color: white; }
      .storeBox button:hover {
        background-color: #60b8f3;
        color: black;
        font-weight: bolder; }
  .productA {
    margin: 40px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    text-align: center; }
  .productB {
    margin: 40px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    text-align: center; }
  .productC {
    margin: 40px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    text-align: center; }
  .burguer {
    display: none; }
  body h2 {
    text-align: center; }
  h5 {
    background-color: black;
    color: white; }
  nav {
    background-color: black;
    color: aliceblue;
    text-align: center;
    grid-area: nav;
    position: fixed;
    border: 10;
    font-size: 25px;
    margin-bottom: 15px;
    width: 100%; }
  a {
    color: white;
    font-size: 30px; }
    a:hover {
      color: #60b8f3;
      font-weight: bold; }
  .logo {
    width: 25px;
    position: absolute;
    top: 7px;
    left: 10px; }
  .twitch {
    position: absolute;
    width: 25px;
    right: 10px;
    top: 7px; }
  .twitter {
    position: absolute;
    width: 25px;
    right: 35px;
    top: 7px; }
  .insta {
    position: absolute;
    width: 25px;
    right: 60px;
    top: 7px; }
  .youtube {
    position: absolute;
    width: 25px;
    right: 85px;
    top: 7px; }
  footer {
    width: 100%;
    grid-area: footer;
    margin-top: 25px; }
  aside {
    color: snow;
    width: 100%;
    height: 100%;
    margin: 37px;
    padding-left: 10px;
    text-overflow: inherit;
    float: right;
    list-style: none;
    font-size: px;
    background-color: black;
    grid-area: aside;
    display: block; }
  body div {
    background-color: white;
    width: 89%; }
  div .descript {
    margin: 15px;
    padding: 10px; }
  .sonidoBoom {
    grid-area: content;
    width: 100%;
    margin-top: 15px; }
  .contBox {
    margin: 36px;
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .mini {
    width: 30%;
    font-size: initial; }
  .mini__tit {
    text-align: center;
    font-size: 100%;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .mini__img {
    width: 100%;
    height: 60%; }
  .mini div {
    width: 30%; }
  .retro {
    width: 30%; }
  .retro__tit {
    text-align: center;
    font: size 100%;
    height: fit-content;
    background-color: rgba(0, 255, 255, 0.055); }
  .retro__img {
    width: 100%;
    height: 60%; }
  .perfect {
    width: 30%; }
  .perfect__tit {
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 255, 255, 0.055);
    height: fit-content; }
  .perfect__img {
    width: 100%;
    height: 60%; } }

@media (min-width: 780px) {
  /*____________________________________________/*


 /*PC high*/ }

@media (min-width: 780px) and (min-width: 1200px) {
  .home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr,1fr,1fr,30px;
    grid-template-areas: "nav nav nav nav" "content content content aside" "footer footer footer footer"; }
  .side {
    color: snow;
    width: 100%;
    height: 100%;
    margin-top: 37px;
    padding-left: 10px;
    text-overflow: inherit;
    float: right;
    list-style: none;
    background-color: black;
    grid-area: aside;
    display: block; }
    .side ul {
      list-style: none; }
  /*Store */
  .storeBox {
    margin: 12px;
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .storeBox div:hover {
      animation-duration: 1s;
      animation-name: zoom;
      animation-play-state: paused;
      animation-direction: reverse; }
  @keyframes zoom {
    from {
      width: 100%; }
    to {
      width: 135%; } }
    .storeBox .productA {
      margin: 40px;
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 30%;
      text-align: center; }
      .storeBox .productA .productB {
        margin: 40px;
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 30%;
        text-align: center; }
      .storeBox .productA .productC {
        margin: 40px;
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 30%;
        text-align: center; }
  .burguer {
    display: none; }
  body h2 {
    text-align: center; }
  h5 {
    background-color: black;
    color: white; }
  nav {
    background-color: black;
    color: aliceblue;
    text-align: center;
    grid-area: nav;
    position: fixed;
    border: 10;
    margin-bottom: 15px;
    width: 100%; }
    nav a {
      color: white;
      font-size: 30px; }
    nav .logo {
      width: 25px;
      position: absolute;
      top: 7px;
      left: 10px; }
    nav .twitch {
      position: absolute;
      width: 25px;
      right: 10px;
      top: 7px; }
    nav .twitter {
      position: absolute;
      width: 25px;
      right: 35px;
      top: 7px; }
    nav .insta {
      position: absolute;
      width: 25px;
      right: 60px;
      top: 7px; }
    nav .youtube {
      position: absolute;
      width: 25px;
      right: 85px;
      top: 7px; }
  footer {
    width: 100%;
    grid-area: footer;
    margin-top: 25px;
    margin-right: 0px; }
  body div {
    background-color: white;
    width: 89%; }
  div .descript {
    margin: 15px;
    padding: 10px; }
  .sonidoBoom {
    grid-area: content;
    width: 100%;
    margin-top: 15px; }
  .contBox {
    margin: 30px;
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .contBox .mini {
      width: 30%;
      font-size: initial; }
    .contBox .mini__tit {
      text-align: center;
      font-size: 100%;
      background-color: rgba(0, 255, 255, 0.055);
      height: fit-content; }
    .contBox .mini__img {
      width: 100%;
      height: 60%; }
    .contBox .mini div {
      width: 30%; }
    .contBox .retro {
      width: 30%; }
    .contBox .retro__tit {
      text-align: center;
      font: size 100%;
      height: fit-content;
      background-color: rgba(0, 255, 255, 0.055); }
    .contBox .retro__img {
      width: 100%;
      height: 60%; }
    .contBox .perfect {
      width: 30%; }
    .contBox .perfect__tit {
      text-align: center;
      font-size: 18px;
      background-color: rgba(0, 255, 255, 0.055);
      height: fit-content; }
    .contBox .perfect__img {
      width: 100%;
      height: 60%; } }
